body{
    width: 95%;
    height: 500%;
    margin: 65px;
    background-color:beige;
   
    }

    .Nombre{
        font-size: 40px;
    }

     .Nombe{
        font-size: 20px;
        margin-left: 400px;
        margin-top: -13px;
     }



.Line {
    width: 200px;
    margin-left: 30px;
    margin-right: 70px;
    height: 2px;
    background-color: #000;
}
.Line1 {
    position: absolute;
    top:160px;
    left:62%;
    right:30% ;
  width:150px;
  
}
.Line2 {
    position: absolute;
    top:160px ;
    left: -30%;
    right: 0px;
    width: 150px;
 
}



    hr{
        width: 89.5vw;
        position: absolute;
        left: 5%;
    }
    .recuadro{
        margin: auto;
        margin-top: 25px;
        width: 90%;
        height: 500px;
    }
   .Nombre{
  font-family:'Times New Roman', Times, serif;
  text-align: center;
   }
   .Porcentajes{
    position: relative;
   
   }

   .skills-tite{
    position: relative;
    left:-160px;
    top: -20px;

   }
   .skills-title{
   position: absolute;
    margin-top: -1%;
   }

    .jj{
        display: flex;
        justify-content: space-between;
        top: 5%;
        position: relative;
    }

    .c1{
        position: absolute;
        left: 60px;
        top: 63.5px;
        color:white;
    }
    .c2{
        position: absolute;
        left: 200px;
        top: 63,5px;
        color: #fff;
    }
    .c3{
        position: absolute;
        left: 400px;
        top: 63.5px;
        color:aliceblue;
    }
    .c4{
        position: absolute;
        left: 500px;
        top: 63.5px;
        color: white;
    }
 
    .c5{
        position: absolute;
        left: 60px;
        top: 63.5px;
        color: aliceblue;
    }

 
body{
    border: 2px solid black;
    height: 230vh;
    width: 195vh;
    background-color:#E5E7E9;
}

.texto{
    margin-top: 10px;
}

  .imgg{

    position: absolute;
    top: 45%;
    left: 50%;
    height: 80%;
    top: 90%;
  }

  .imagenn{
    position: absolute;
    top: 5%;
    left:15%;
    height: 5%;
    top: 35%;
  }

  .imagen1{

    position: absolute;
    top: 5%;
    left:37%;
    height: 5%;
    top: 35%;
  }

  .imagen2{

    position: absolute;
    top: 5%;
    left:67%;
    height: 5%;
    top: 35%;

  }

  .info{
    display: flex;
    justify-content:space-around;
  }